{% extends "base.html" %}
{% block content %}
<style>
   body {
   background-image: url(https://images2.alphacoders.com/261/26102.jpg);
   color: white;
   }
   div, h1, label, input, button, thead, tbody, th, tr {
   text-align: center;
   }
</style>
<body>
   <div class="row">
      <div class="col-2">
         <div class="form-group">
            <h2><a href="/">Let's Add a book</a></h2>
         </div>
      </div>
   </div>
   <h1>
      {{ greetings }}
   </h1>
   </br>
   <form method="GET">
      <div class="row">
         <div class="col-sm-3">
            <div class="form-group">
               <label>Bookname</label>
               <input type="text" class="form-control" name="bookname" required />
               <hr>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               <label>Comment&nbsp&nbsp</label>
               <input type="text" class="form-control" name="comment" required />
            </div>
         </div>
         <div class="col-lg-12">
            <div class="form-group">
               <button id="submit" class="mui-btn mui-btn--primary mui-btn--raised" type="submit">Add Book</button>
            </div>
         </div>
      </div>
   </form>
   <style>
      p {
      text-align: center;
      }
   </style>
   <div>
      <table align="center" id="roster" class="table">
         <thead>
            <th>Bookname and Comment</th>
            <th></th>
         </thead>
         <tbody class="table" scope="row"></tbody>
         <tbody>
            {% for s in aaa %}
            <tr value="remove">
               <td>{{ s }}</td>
            </tr>
            {% endfor %} 
         </tbody>
      </table>
      </form>
   </div>
   <div style="text-align:center;">
      <form method="post">
         <button class="mui-btn mui-btn--raised" name="submit_button" type="submit" value="out">Log out</button>
         <button class="mui-btn mui-btn--raised" color="secondary" name="submit_button" type="submit" value="delete">Delete all</button>
      </form>
   </div>
</body>
{% endblock %}